<li class="card-set__item">
<a class="gallery__link" href="{{largeImageURL}}">
    <div class="thumb">
        <img class="gallery-image" src="https://image.tmdb.org/t/p/w500{{ poster_path }}" alt="{{tags}}"
            loading="lazy" />
    </div>
    <div class="info">
        <p class="info-item">{{original_title}}</p>
        <p class="info-item">{{genre_ids}}</p>
        <p class="info-item">{{release_date}}</p>
    </div>
</a>
</li>